<div style="text-align:center" class="mt-5 animated fadeIn"  >
 
 
    <img width="300" alt="Parking app Logo" 
    src="./../assets/img/parkingapp.png">
  
    <br/>
    <h1>
      {{ title }}!
  </h1>


 <div style="margin: 0 auto;">
    <form class="form-inline">
        <div class="form-group mb-2">
       
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Conserje 1">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">PIN</label>
          <input type="password" class="form-control"  
          
          [(ngModel)]="cpin" id="cpin" [ngModelOptions]="{standalone: true}"
          placeholder="PIN">
        </div>
        <button  [disabled]="!(cpin.length>0)"  type="button" 
        (click)="Iniciar()"
        class="btn btn-primary mb-2">INICIAR</button>
      </form>
</div>


</div>