<div style="text-align:center" class="mt-5 animated fadeIn">

    <h2>
      Registro Ingresos 
    </h2>
    <br>

    <div class="row"><form class="form-inline my-2 my-lg-0">
      <div class="col-3">

          <div class="radio">  
              <label>  
                  <input type="radio" name="tipobusqueda" (click)="setradio('1')" value="1" checked >  
                  por identificacion  
              </label>  
          </div>  
          <div class="radio">  
           <label>  
                  <input type="radio" name="tipobusqueda"  (click)="setradio('2')" value="2" >  
                  por placa 
              </label>  
          </div>   
       
 
      </div>
      <div class="col-9">
          
              <input class="form-control mr-sm-2" type="search" 
              [(ngModel)]="busqueda" id="busqueda" [ngModelOptions]="{standalone: true}"
              placeholder="buscar" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" 
              [disabled]="!(busqueda.length > 0)"
              type="button" (click)="Buscar()">Buscar </button>
          
        
        </div>
      </form>

</div>



<div class="row">

  <div class="container">

  

      <div class="card-columns">
          <div class="card" *ngFor="let vehiculo of vehiculos">
            <img class="card-img-top" [src]="vehiculo.vehiculo.foto | noimage" alt="Card image cap" width="20px">
            <div class="card-body">
              <h5 class="card-title"> PLACA:  {{ vehiculo.vehiculo.placa }} </h5>
              <div class="card-text">
               Tipo: {{ vehiculo.tipoVehiculo }}
               <ul>
                 <li *ngFor="let entry of vehiculo.vehiculo.atributos | keys">
                    {{entry.key}} : {{entry.value}}
                 </li>
               </ul> 
              </div>
              <button type="button" class="btn btn-info" (click)="ingresar(vehiculo.vehiculo)" > seleccionar </button>
            </div>
          </div>   
        </div>


    </div>
  </div>


  <div class="row">

<button type="button" class="btn btn-success mb-2" (click)="reporte()"
            >ver reporte</button>
  </div>
</div>
