<div class="animated fadeIn  container mt-3">


  <div class="row">

    <div class="col-6">

        <p class="h3">Inicio sesion</p>
        <form>
            <div class="form-group">
                <label for="Identificacion">Identificación</label>
                <input type="text" class="form-control"  [(ngModel)]="Identificacion" id="Identificacion" [ngModelOptions]="{standalone: true}" placeholder="">
              </div>
            <div class="form-group ">
              <label for="inputPassword">Password</label>
               <input type="password" class="form-control" [(ngModel)]="inputPassword"  id="inputPassword" [ngModelOptions]="{standalone: true}" placeholder="Password">
             
            </div>
            <button type="button" class="btn btn-success mb-2" (click)="login()"
            [disabled]="!(inputPassword.length > 0 && Identificacion.length > 0)" >login</button>
          </form>
    </div>
    <div class="col-6">

        <p class="h3">Registro</p>
        <form>
            <div class="form-group">
                <label for="Identificacion">Identificación</label>
                <input type="text" class="form-control" 
                [(ngModel)]="ridentificacion" id="ridentificacion" [ngModelOptions]="{standalone: true}"
                placeholder="">
              </div>
            <div class="form-group ">
              <label for="txtnombre">Nombre</label>
               <input type="text" class="form-control" 
               [(ngModel)]="rnombre" id="rnombre" [ngModelOptions]="{standalone: true}"
               id="txtnombre" placeholder="">
             
            </div>

            <div class="form-group ">
                <label for="txtnombre">Contraseña</label>
                 <input type="password" class="form-control"
                 [(ngModel)]="rpassword" id="rpassword" [ngModelOptions]="{standalone: true}"
                  placeholder="">               
              </div>

              <div class="form-group ">
                  <label for="txtnombre">Confirmar Contraseña</label>
                   <input type="password" class="form-control" 
                   [(ngModel)]="rpassword2" id="rpassword2" [ngModelOptions]="{standalone: true}"
                   placeholder="">
                 
                </div>

                <div  class="alert alert-warning" role="alert" *ngIf="!(rpassword == rpassword2)"> La contraseña no concuerdan</div>

            <button type="submit" class="btn btn-primary mb-2"  (click)="registro()"
            [disabled]="!((ridentificacion.length > 0 && rnombre.length > 0  && rpassword.length > 0  && rpassword2.length > 0)&& (rpassword == rpassword2)) "
            
            >registrar</button>
          </form>
      </div>

  </div>

 


</div>