<div class="animated fadeIn  container mt-3">

 <h3>Reporte Entradas </h3>


 <br>
<form [formGroup]="registroForm">
  

 <div class="row">
   <div class="col">
      <div class="form-group">
          <label for="sel1">año:</label>
          <select class="form-control form-control-lg" 
          formControlName="year" 
          [(ngModel)]="year"              
          >
          <option value="0" selected="selected">Todos</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>   
            </select>
        </div>
      
   </div>

   <div class="col">
      <div class="form-group">
          <label for="sel1">mes:</label>
          <select class="form-control form-control-lg" 
          formControlName="mes" 
          [(ngModel)]="mes"              
          >
          <option value="0" selected="selected">Todos</option>
          <option value="6">6</option>
          <option value="9">9</option> 
          <option value="10">10</option>  
          <option value="11">11</option>  
          <option value="12">12</option>   
            </select>
        </div>
    </div>
    <div class="col">


        <button type="button" class="btn btn-success mb-2" (click)="Generar()"
         >Generar</button>
      

    </div>

 </div>
 </form>


 <div class="row">


    <table class="table table-dark">
        <thead>
          <tr>
          
           
            <th scope="col">Empleado</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empleados" >
            <th scope="row"> {{item.empleado}}</th>
            <td> {{item.cantidad}} </td>
           
          </tr>
         
        </tbody>
      </table>

 </div>
 
  
 <div class="row">

    <button type="button" class="btn btn-success mb-2" (click)="volver()">
      volver
    </button>
      </div>






</div>