<div class="animated fadeIn  container mt-3">

    <h3>
   Registro de vehiculos
    </h3>


    <form [formGroup]="registroForm">
       
        <div class="form-group row">
            <label for=" " class="col-sm-2 col-form-label">Tipo Vehiculo</label>
            <div class="col-sm-10">
                <select class="form-control form-control-lg" 
                formControlName="tipovehiculo" 
                [(ngModel)]="selectedOption"    
                           
                >
                    <option  *ngFor="let tipos of tiposVehiculos" [value]="tipos.id_tipovehiculo"> {{tipos.tipo}} </option>
                   
                  </select>
            </div>
          </div>

         

          <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Placa</label>
              <div class="col-sm-10">
                <input type="text" formControlName="placa"  class="form-control" placeholder="Placa">
              </div>
            </div>

           <div [hidden]="!(selectedOption=='1')">
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Modelo</label>
                <div class="col-sm-10">
                  <input type="text"   
                  [(ngModel)]="modelo" id="modelo" [ngModelOptions]="{standalone: true}"
                    class="form-control" placeholder="Modelo">
                </div>
              </div>
              <div class="form-group row">
                  <label for="" class="col-sm-2 col-form-label">Num Puertas</label>
                  <div class="col-sm-10">
                    <input type="text"  
                    [(ngModel)]="numpuertas" id="numpuertas" [ngModelOptions]="{standalone: true}"
                    class="form-control" placeholder="# puertas">
                  </div>
                </div>
            </div>
            <div [hidden]="!(selectedOption=='2')">
                <div class="form-group row">
                  <label for="" class="col-sm-2 col-form-label">Cilindraje</label>
                  <div class="col-sm-10">
                    <input type="text"   
                    [(ngModel)]="cilindraje" id="cilindraje" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="Cilindraje">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tiempos</label>
                    <div class="col-sm-10">
                      <input type="text"  
                      [(ngModel)]="tiempos" id="tiempos" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="Tiempos">
                    </div>
                  </div>
              </div>
              <div [hidden]="!(selectedOption=='3')">
                  <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Marca</label>
                    <div class="col-sm-10">
                      <input type="text"   
                      [(ngModel)]="marca" id="marca" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Marca">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="" class="col-sm-2 col-form-label">Color</label>
                      <div class="col-sm-10">
                        <input type="text"  
                        [(ngModel)]="color" id="color" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Color">
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Foto</label>
                    <input  type="file"  class="form-control-file" id="exampleFormControlFile1"
                    [(ngModel)]="file" id="file"  [ngModelOptions]="{standalone: true}" 
                    accept="image/*" 
                    >
                  </div>

                  <button type="submit" class="btn btn-primary mb-2"  (click)="registroVehiculo()"
                  [disabled]="!registroForm.valid"
                  
                  >registrar</button> 
      </form>

    
</div>
