<div class="animated fadeIn  container mt-3">

<h3>
  Bienvenido {{nombreEmpleado}}
</h3>
<button type="button" class="btn btn-success"  [routerLink]="[ '/regvehiculose' ]">
  registrar vehiculo</button>
<br>

<div>
<h3>
    Mis vehiculos
  </h3>
</div>
<div class="card-columns">
    <div class="card" *ngFor="let vehiculo of vehiculos">
      <img class="card-img-top" [src]="vehiculo.foto | noimage" alt="Card image cap" width="20px">
      <div class="card-body">
        <h5 class="card-title"> PLACA:  {{ vehiculo.vehiculo.placa }} </h5>
        <div class="card-text">
         Tipo: {{ vehiculo.tipoVehiculo }}
         <ul>
           <li *ngFor="let entry of vehiculo.vehiculo.atributos | keys">
              {{entry.key}} : {{entry.value}}
           </li>
         </ul> 
        </div>
        <p class="card-text">  </p>
      </div>
    </div>   
  </div>

</div>